/* .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  } */

.symptoms-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.symptoms-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: stretch;

}

.symptoms-container .content .check label{
    position: absolute;
    margin-left: 10px;
    margin-top: -2px;
}

.symptoms-container .content .check{
    width: 100%;
    padding: 70px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    line-height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.symptoms-container .content section{
    width: 100%;
    max-width: 380px;
}

.symptoms-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
}

.symptoms-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.symptoms-container .content form{
    width: 100%;
    max-width: 450px;

}

.symptoms-container .content form input{
    margin-top: 8px;
}

.symptoms-container .content form .input-group{
    display: flex;
    
}

.symptoms-container .content form .input-group input + input{
    margin-left: 8px;
}

.check-in-descricao{
    margin-right: 10px;
}

@media (max-width: 767px) {
    .symptoms-container .content {
        width: 100%;
        padding: 96px;
        height: 100vh;
        margin: 0 auto;
        background: #f0f0f5;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    
    }
}