/* .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  } */
  .transmission-covid-check{
    font-size: 30px;
    color: #E02041;
}
.transmission-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.transmission-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.transmission-container .content .check label{
    position: absolute;
    margin-left: 10px;
    margin-top: -2px;
}

.transmission-container .content .check{
    width: 100%;
    padding: 70px;
    background: #ff6d92;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    line-height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transmission-container .content section{
    width: 100%;
    max-width: 800px;
}

.transmission-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
    padding-left: 10px;
}

.transmission-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.transmission-container .content form{
    width: 100%;
    max-width: 450px;

}

.transmission-container .content form input{
    margin-top: 8px;
}

.transmission-container .content form .input-group{
    display: flex;
    
}

.transmission-container .content form .input-group input + input{
    margin-left: 8px;
}

.check-in-descricao{
    margin-right: 10px;
}

.check-in-descricao-procure{
    margin-right: 10px;
    padding-bottom: 2%;
}
@media (max-width: 767px) {

}

.transmission-back-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.2s;
}