/* .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  } */
.severe-symptoms-covid-check{
    font-size: 30px;
    color: #ffffff;
}
.severe-symptoms-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.severe-symptoms-container .content {
    width: 100%;
    padding: 96px;
    background: #e02041;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.severe-symptoms-container .content section{
    width: 100%;
    max-width: 800px;
}

.severe-symptoms-container .content section h1{
    margin: 64px 0 32px;
    font-size: 32px;
    padding-left: 10px;
}

.severe-symptoms-container .content section p{
    font-size: 18px;
    color: #ffffff;
    line-height: 32px;
}

.check-in-descricao-phrase2{
    margin-right: 10px;
}

.check-in-descricao-phrase1{
    margin-right: 10px;
    padding-bottom: 2%;
}

@media (max-width: 767px) {
    .severe-symptoms-container .content {
        padding: 6%;
        height: 100%;
    }
    .severe-symptoms-container .content {
        border-radius: 0px;
    }
}

.severe-symptoms-back-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.2s;
}